.auto-style2 {
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	margin: 25px 50px;
}
.auto-style3 {
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: 0px;
}
.auto-style4 {
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	color: #0077FF;
	font-size: large;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 15px;
	margin-bottom: 0px;
}
